/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End CSS Reset */

/* font styles note:
font-family: 'Anton', sans-serif;
font-family: 'Teko', sans-serif;
*/
body {background-color:#0E0679;
color:#fff;}

#container {width: 100%;
font-family: 'Work Sans', sans-serif;
margin-top:700px;
background-color:#0E0679;}

#banner {background-image: url(images/toms-restaurant-blur.jpg);
background-size: cover;
height:600px;
background-repeat: none;
position:fixed;
width:100%;
z-index: -10;
top:0;
display:none;}


/*#banner_text_container {display:none;}*/

#banner_text {position: absolute;
z-index: 10;
width:650px;
top:200px;
left:0;
right:0;
margin:auto;
padding:20px 20px 12px 20px;
text-align:center;
background-color:#0E0679;}

#menu {position: fixed;
height:35px;
letter-spacing: .1em;
font-size:14px;
width:100%;
margin:auto;
top:0px;
z-index: 10;}

#mp_menu {float:right;
margin-right:15px;
color:#fff;
text-decoration: none;
padding:10px;
width:100px;
text-align: center;
display:block;
background-color:#0E0679;
margin-top: -1px;
border-bottom:1px dotted #F72B50;
border-left:1px dotted #F72B50;
border-right:1px dotted #F72B50;}

#sub_menu {width: 100%;
background-color:#0E0679;
height:30px;
padding-top:20px;
top:0;
z-index: 9;
padding-left:3%;
border-bottom:1px dotted #F72B50;
display:none;}

a.sub_menu {color:rgba(255,255,255,.4);
letter-spacing: .1em;
text-decoration:none;
float:left;
display:inline;
border:0px;
margin-right:30px;}

a.sub_menu:hover {color:rgba(255,255,255,1);
}

.title_text_underlay {font-size:100px;
position:relative;
margin-top:-140px;
margin-left:3px;
font-weight:400;
z-index: -5;
padding:20px;}

.title_text {font-size:100px;
font-weight:700;
color:rgba(255,255,255);
border:1px solid #F72B50;
padding:20px;}

.sub_title_text {font-size:20px;
font-weight:500;
width:225px;
float:right;
background-color:#0E0679;
margin-top:-15px;
border: 1px solid #F72B50;
color:#F72B50;
letter-spacing: .1em;}

.sub_section_title {font-size:40px;
font-weight:600;
text-align:center;
line-height: 2.0em;
padding-bottom:45px;
color:#Fff;
letter-spacing: .01em;}

#rez_section {width:85%;
max-width: 1200px;
padding-top: 100px;
margin:auto;
margin-bottom:125px;
overflow: hidden;}

#make_rez {float:left;
width:45%;}

#existing_rez {float:right;
width:45%;}

.sm_label {font-size: 18px;
text-align: center;
color:#F72B50;
padding-bottom: 35px;
letter-spacing: .1em;}

.rez_input {width:98.75%;
margin:auto;
-webkit-appearance: none;
background-color:rgba(255,255,255,0);
border:0px;
padding:0px;
height:35px;
font-size:14px;
margin-bottom:10px;
color:#fff;
border:1px dotted #F72B50;
font-family: 'Work Sans', sans-serif;
letter-spacing: .1em;}

p.name {margin-bottom:30px;
font-size: 13px;
color:#F72B50;
font-weight:400;}

p.date {margin-bottom:30px;
font-size: 13px;	
color:#F72B50;
font-weight:400;}

input[type="text"]::-webkit-input-placeholder {color:rgba(255,255,255,.4);
letter-spacing: .1em;}

input[type="text"] {padding-left: 5px;
letter-spacing: .1em;}

#ui-datepicker-div {
background-color:#0E0679;
padding:10px;
font-family: 'Work Sans', sans-serif;
font-size: 13px;
text-align: center;}

.ui-datepicker-header {padding-bottom:10px;}

.ui-datepicker-calendar {width:300px;
background-color:#0E0679;
font-family: 'Work Sans', sans-serif;
font-size: 13px;
text-align: center;
}

.ui-datepicker-calendar td {padding:5px;
border:1px dotted #F72B50;}


.ui-datepicker-calendar a {text-decoration: none;
color:#fff;}

.ui-state-default, .ui-widget-content .ui-state-default {border:0px;
background-color:#0E0679;
color:#fff;}

.ui-widget-header {border:0px;
color:#fff;
background-color:#0E0679;
font-family: 'Work Sans', sans-serif;
font-weight:400;}

.ui-widget.ui-widget-content {border:0px;}

.ui-datepicker th {color:#fff;
font-weight: 400;}

.ui-icon-circle-triangle-w {background-position: 0px 0px}

.ui-icon-circle-triangle-e {background-position: 0px 0px}

.ui-datepicker .ui-datepicker-prev span {background-image: url(images/ui_prev-01.png);}

.ui-datepicker .ui-datepicker-next span {background-image: url(images/ui_next-01.png);}

.ui-widget-header .ui-state-hover {background-color:rgba(0,0,0,0);
border:1px solid rgba(0,0,0,0)}

input:focus {outline:none;}

button:focus {outline:none;}

button {width:100%;
position: relative;
margin:auto;
height:35px;
padding:0px;
-webkit-appearance: none;
border:none;
background-color:rgba(247,43,80,.7);
color:#fff;
font-size:14px;
letter-spacing: .1em;
font-family: 'Work Sans', sans-serif;
transition: all 0.1s ease-in-out;}

.btn_hover {background-color:rgba(247,43,80,1);
transition: all 0.1s ease-in-out;}

#existing {width:100%;
margin:auto;
font-size: 14px;
text-align: center;
color:#Fff;}

#existing tr {border-top:1px dotted #F72B50;
border-bottom:1px dotted #F72B50;
text-align:center;
height:35px;
line-height: 35px;}

#existing td {width:50%;}

.right {border-left:1px dotted #F72B50;}

#existing th {width:50%;
letter-spacing: .1em;}

#location {clear:left;
width:85%;
max-width: 1200px;
margin:auto;
padding-top:100px;
margin-bottom:125px;
overflow: hidden;}

#map {height:400px;
border:1px dotted #F72B50;
padding:10px;}

#reviews {width:85%;
max-width: 1200px;
padding-top: 100px;
margin:auto;
margin-bottom:125px;
overflow: hidden;}

.live_review {width:85%;
max-width: 1200px;
margin:auto;
overflow: hidden;
padding-top: 20px;
padding-bottom: 20px;
border-top:1px dotted #F72B50;
border-bottom:1px dotted #F72B50;}

.review_img {float:left;
padding-top:20px;
padding-left: 20px;
width:15%;
margin-right:5%;}

.reviewer {width:80%;}

.review_txt {float:left;
width:70%;}

.quote {color:#F72B50;
font-size: 130px;
font-family: 'Coustard', serif;}

.review {font-size:60px;
color:#Fff;
font-weight: 100;
margin-top:-105px;
margin-bottom:40px;
padding-left:45px;}

.review_name {font-size:20px;
padding-left:35px;
font-weight:500;
color:#F72B50;
padding-bottom: 45px;
letter-spacing: .1em;
text-align: right;}

.fat {font-weight:700;}

#footer {width:100%;
clear:both;
height:200px;}

@media screen 
  and (max-width: 2600px) { 

  	#banner {background-image: url(images/toms-restaurant-blur.jpg);
background-size: cover;
height:750px;
background-repeat: none;
position:fixed;
width:100%;
z-index: -10;
top:0;
display:none;}

#banner_text {position: absolute;
z-index: 10;
width:650px;
top:300px;
left:0;
right:0;
margin:auto;
padding:20px 20px 12px 20px;
text-align:center;
background-color:#0E0679;}

}